

.jumbotron {
  height: 500px;
 background-image: url(../assets/SK-A-799.jpg);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

jumbotron .h1, .jumbotron h1 {
padding-top: 200px; 
color: white;
}

.navbar {
    position: relative;
    min-height: 100px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

body {
    padding-top: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 32px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

li {
    padding-top: 25px;
    display: list-item;
    text-align: -webkit-match-parent;
}
