

.jumbotron {
  height: 500px;
 background-image: url(../assets/SK-A-799.jpg);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

jumbotron .h1, .jumbotron h1 {
padding-top: 200px;
color: white;
}

.navbar {
    position: relative;
    min-height: 100px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #D5D5D5;
    margin-top: 20px;
}

body {
    padding-top: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 32px;
    line-height: 1.42857143;
    color: #96858F;

}

#root{
  background-color: #8EAEBD;
}

.container{
  background-color: #8EAEBD;
}

div.content{
  background-color: #8EAEBD;

}

li {
    padding-top: 25px;
    display: list-item;
    text-align: -webkit-match-parent;
}

a.nav-link{
  color: #000;
  font-family: sans-serif "Helvetica Neue";
  font-size: 20px;
}

.content h2 {
  margin-bottom: 32px;
  text-align: center;
  font-size: 32px;
}

img{
  max-width: 100%;
  height: auto;
}

p{
  font-family: sans-serif "Helvetica Neue";
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 20px;
}
div.card{
  border: 0px;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}
.card-body{
  background-color: #67787F;
}

h5.card-title{
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 22px;
  text-align: center;

}

h6.card-subtitle{
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: white;
}

div.show-grid.row{
  row-gap: 20px;;
}

div.grid-title{
  margin-bottom: 32px;
}

button.btn.btn-secondary{
    background-color: #31415D;
    font-size: 20px;

}

div.search-header{
  margin-bottom: 32px;
}

div.field.is-horizontal{
  margin-bottom: 32px;
}

h3{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
}

img.favImage{
  width: 40px;
  height: 40px;
  background-color: #67787F;
}

button.favButton.btn.btn-secondary{
  background-color: #67787F;
  border: 0px;

}

label.label{
  font-size: 14px;
  color: black;
}

input.input{
  width: 300px;
  height: 50px;
  font-size: 12px;
}

select{
  width: 300px;
  height: 50px;
  font-size: 12px;
}

li.nav-item{
  font-size: 22px;
}

a.nav-link{
  font-size: 24px;
  font-family: sans-serif Helvetica;
}
